@model GearItemViewModel

<h3>@Model.CategoryName</h3>
<h4>@Model.CategoryDescription</h4>

<div class="container-fluid">
    @foreach (var cat in Model.GearItems)
    {
        <div class="row">
            
            <div class="col-sm-4 "><a asp-controller="Gear" asp-action="Details" asp-route-id="@cat.GearItemId">@cat.Name</a></div>
            @*<div class="col-sm-7">@cat.Description</div>*@

        </div>
    }
</div>




