

@model HomeViewModel

<h2>@Model.Title</h2>

@foreach (var cat in Model.Categories)
{
<div class="col-sm-3 col-lg-3 col-md-3">
    <div class="thumbnail">
        <img src="/images/cat1-3.jpg" alt="">
        <div class="caption">
            <h3>
                <a asp-controller="Gear" asp-action="Index" asp-route-categoryName="@cat.Name"
                   asp-route-categoryDesc="@cat.Description" asp-route-id="@cat.CategoryId">@cat.Name</a>
            </h3>
            @*<p>@cat.Description</p>*@
        </div>
    </div>
    </div>
}



